@import 'tailwindcss';

@theme {
  /* tailwind */
  --default-font-family: 'Inter', 'sans-serif';

  /* colors */
  --color-surface: var(--color-zinc-50);
  --color-surface-subtle: var(--color-zinc-100);

  --color-foreground: var(--color-zinc-900);
  --color-foreground-muted: var(--color-zinc-800);
  --color-foreground-subtle: var(--color-zinc-600);

  /* badge */
  --color-badge-green: var(--color-green-200);
  --color-badge-green-subtle: var(--color-green-900);
  --color-badge-blue: var(--color-blue-200);
  --color-badge-blue-subtle: var(--color-blue-900);
  --color-badge-purple: var(--color-purple-300);
  --color-badge-purple-subtle: var(--color-purple-900);
  --color-badge-yellow: var(--color-yellow-400);
  --color-badge-yellow-subtle: var(--color-yellow-900);
  --color-badge-zinc: var(--color-zinc-300);
  --color-badge-zinc-subtle: var(--color-zinc-800);

  /* spacing */
  --width-layout: var(--breakpoint-xl);
}

.dark {
  /* colors */
  --color-surface: var(--color-zinc-950);
  --color-surface-subtle: var(--color-zinc-900);

  --color-foreground: var(--color-zinc-50);
  --color-foreground-muted: var(--color-zinc-300);
  --color-foreground-subtle: var(--color-zinc-500);

  /* badge (dark) */
  --color-badge-green: var(--color-green-900);
  --color-badge-green-subtle: var(--color-green-400);
  --color-badge-blue: var(--color-blue-900);
  --color-badge-blue-subtle: var(--color-blue-400);
  --color-badge-purple: var(--color-purple-900);
  --color-badge-purple-subtle: var(--color-purple-400);
  --color-badge-yellow: var(--color-yellow-900);
  --color-badge-yellow-subtle: var(--color-yellow-400);
  --color-badge-zinc: var(--color-zinc-700);
  --color-badge-zinc-subtle: var(--color-zinc-200);
}

@layer components {
  .typography {
    /* p {
      font-size: var(--text-base);
      color: var(--color-gray-700);
    }
    h1 {
      font-size: var(--text-2xl--line-height);
      font-weight: var(--font-weight-semibold);
      color: var(--color-gray-950);
    }
    h2 {
      font-size: var(--text-xl);
      font-weight: var(--font-weight-semibold);
      color: var(--color-gray-950);
    } */
  }
}

@utility bg-gradient-primary {
  background:
    radial-gradient(circle at 50% -25%, var(--color-stone-900), transparent 50%),
    radial-gradient(circle at 50% 125%, var(--color-stone-900), transparent 50%), var(--color-zinc-950);
}

@utility bg-gradient-text {
  background: linear-gradient(var(--color-zinc-50), var(--color-zinc-400));
}

@custom-variant dark (&:where(.dark, .dark *));
