@import 'tailwindcss';

@theme {
  /* tailwind */
  --default-font-family: 'Inter', 'sans-serif';

  /* colors */
  --color-surface: var(--color-zinc-50);
  --color-surface-subtle: var(--color-zinc-100);

  --color-foreground: var(--color-zinc-900);
  --color-foreground-muted: var(--color-zinc-800);
  --color-foreground-subtle: var(--color-zinc-600);

  /* spacing */
  --width-layout: var(--breakpoint-xl);
}

.dark {
  /* colors */
  --color-surface: var(--color-zinc-950);
  --color-surface-subtle: var(--color-zinc-900);

  --color-foreground: var(--color-zinc-50);
  --color-foreground-muted: var(--color-zinc-300);
  --color-foreground-subtle: var(--color-zinc-500);
}

@layer components {
  .typography {
    /* p {
      font-size: var(--text-base);
      color: var(--color-gray-700);
    }
    h1 {
      font-size: var(--text-2xl--line-height);
      font-weight: var(--font-weight-semibold);
      color: var(--color-gray-950);
    }
    h2 {
      font-size: var(--text-xl);
      font-weight: var(--font-weight-semibold);
      color: var(--color-gray-950);
    } */
  }
}

@utility bg-gradient-primary {
  background:
    radial-gradient(circle at 50% -25%, var(--color-stone-900), transparent 50%),
    radial-gradient(circle at 50% 125%, var(--color-stone-900), transparent 50%), var(--color-zinc-950);
}

@utility bg-gradient-text {
  background: linear-gradient(var(--color-zinc-50), var(--color-zinc-400));
}

@custom-variant dark (&:where(.dark, .dark *));
