<section class="mt-4 flex w-full items-center justify-center gap-2 rounded-full text-xl">
  <vm-toggle-button-group [value]="selectedEnglishLevel()" (valueChange)="onLevelSelection($event)">
    @for (dictionary of dictionaries.dictionaries(); track $index) {
      <vm-toggle-button [value]="dictionary.level">{{ dictionary.title }}</vm-toggle-button>
    }
  </vm-toggle-button-group>
</section>

<section class="text-foreground-subtle bg-surface sticky top-0 w-full text-xl">
  <div class="flex items-center justify-center py-8">
    @for (char of alphabet; track $index) {
      <div
        class="hover:text-foreground flex min-h-8 min-w-8 cursor-pointer items-center justify-center"
        [class.text-foreground]="selectedChar() === char"
        tabindex="1"
        (click)="onAlphabetSelection(char)"
        (keypress)="onAlphabetSelection(char)">
        {{ char }}
      </div>
    }
  </div>
  <div class="bg-surface-muted h-[1px]"></div>
</section>

<section class="typography flex flex-col">
  @for (group of groups(); track $index) {
    <div class="my-8 flex gap-24">
      <h1 class="text-muted flex-1/6">{{ group.letter }}</h1>
      <div class="grid flex-5/6 grid-cols-3 gap-4">
        @for (wordItem of group.words; track $index) {
          <span>
            <p class="cursor-pointer transition-all hover:scale-103 hover:font-bold" [routerLink]="wordItem.id">
              {{ wordItem.word }}
            </p>
          </span>
        }
      </div>
    </div>

    @if (!$last) {
      <div class="bg-surface-muted h-[1px]"></div>
    }
  }
</section>
