<app-fullscreen-layout>
  <div class="flex flex-col items-center gap-4">
    <section class="text-foreground-subtle flex min-w-80 flex-col">
      <span class="text-foreground text-2xl font-semibold"> Email verification required </span>
      <span>
        We've send a verification link to {{ email() }} <br />
        Please follow the instructions in the email to verify your account
      </span>
    </section>

    <section class="text-foreground-subtle flex items-center text-sm">
      <a vmButton type="link" href="#" (click)="$event.preventDefault(); resendEmail()">Resend email</a>
    </section>
  </div>
</app-fullscreen-layout>
