<app-fullscreen-layout>
  <div class="flex flex-col items-center gap-4">
    <section class="flex min-w-80 flex-col text-gray-500">
      <span class="bg-gradient-to-b from-gray-50 to-gray-400 bg-clip-text text-2xl font-semibold text-transparent"
        >Create new account</span
      >
      <span>Please tell ups a bit about yourself</span>
    </section>

    <form [formGroup]="form" (submit)="submit()" class="flex min-w-80 flex-col gap-4">
      <input vmInput formControlName="name" placeholder="Name" />
      <input vmInput formControlName="email" placeholder="E-mail" />
      <input vmInput formControlName="password" placeholder="Password" type="password" />
      <input vmInput formControlName="passwordRepeat" placeholder="Repeat password" type="password" />
      <button vmButton variant="primary" [disabled]="form.invalid">Sign up</button>
    </form>

    <section class="my-4 flex w-full items-center gap-2">
      <div class="h-[1px] shrink grow bg-gray-700"></div>
      <span class="text-sm text-gray-700">or</span>
      <div class="h-[1px] shrink grow bg-gray-700"></div>
    </section>

    <section class="flex w-full flex-col">
      <button vmButton (click)="signUpWithGoogle()">Sign up with Google</button>
    </section>

    <section class="flex items-center text-gray-500">
      <span>Already have an account?</span>
      <a vmButton type="link" routerLink="/auth/sign-in">Sign in</a>
    </section>
  </div>
</app-fullscreen-layout>
