<div class="flex min-h-full max-w-[1280px] flex-1 flex-col items-center justify-center gap-6 p-2">
  <section class="max-w relative top-2 flex h-full min-h-40 w-full gap-4">
    <div class="flex flex-1 flex-col">
      <div class="flex items-center gap-4 p-4">
        <span class="text-sm text-gray-400">From: </span>
        <span class="fi fi-us"></span>
      </div>
      <div class="flex min-h-32 flex-1 flex-col rounded-2xl bg-gray-900 focus-within:outline-2 focus-within:outline-sky-600">
        <textarea [formControl]="form.controls.original" class="flex-1 resize-none p-4 text-lg outline-none" name="from-lang-text"></textarea>
      </div>
    </div>

    <div class="flex flex-1 flex-col">
      <div class="flex items-center gap-4 p-4">
        <span class="text-sm text-gray-400">To: </span>
        <span class="fi fi-ua"></span>
      </div>
      <div class="flex min-h-32 flex-1 flex-col gap-4 rounded-2xl bg-gray-900 p-4 text-sm">
        <div class="flex flex-wrap gap-1">
          @for (word of translations(); track $index) {
            <span
              class="cursor-pointer rounded-lg border-1 border-gray-700 px-3 py-2 hover:bg-gray-800"
              [class.bg-gray-800]="isSelected(word)"
              (click)="selectWord(word)"
              >{{ word }}</span
            >
          }
        </div>
        <div class="flex justify-end">
          <button
            (click)="addWord()"
            class="flex h-10 w-10 cursor-pointer items-center justify-center rounded-full bg-sky-700 p-2 text-white hover:bg-sky-600">
            <ng-icon name="lucidePlus" size="24" />
          </button>
        </div>
      </div>
    </div>
  </section>

  @if (dictionary().length) {
    <section class="flex w-full flex-col gap-2">
      <div class="flex w-full gap-4 text-xs text-gray-500">
        <span class="flex-1">Original</span>
        <span class="flex-1">Translation</span>
      </div>
      @for (word of dictionary(); track $index) {
        <div class="flex flex-1 gap-5 rounded-lg border-1 border-gray-700 bg-gray-950 p-4">
          <span class="flex-1">{{ word.original }}</span>
          <span class="flex-1">{{ word.translated }}</span>
        </div>
      }
    </section>
  }
</div>
