<div class="flex min-h-screen w-full flex-wrap content-baseline gap-2 p-4">
  @for (dictionary of dictionaries(); track $index) {
    <div
      class="custom-class flex h-fit min-w-56 cursor-pointer flex-col gap-2 rounded-lg bg-gray-800/50 p-4 hover:bg-gray-800"
      (click)="openDetails($index)">
      <span class="text-2xl font-semibold">{{ dictionary.name }}</span>
      <span class="text-sm text-gray-400">{{ dictionary.description }}</span>
      <vm-badge color="blue" class="!inline-flex w-fit grow-0 gap-2">
        <span [class]="'fi fi-' + dictionary.languages.from"></span>
        ->
        <span [class]="'fi fi-' + dictionary.languages.to"></span>
      </vm-badge>
    </div>
  }
</div>
