<section class="my-10 flex w-full items-center justify-center gap-2 rounded-full text-xl">
  <div class="bg-surface-subtle flex w-fit items-center justify-center rounded-full">
    @for (level of englishLevel; track $index) {
      <div
        class="hover:bg-foreground/5 cursor-pointer rounded-full px-4 py-2 text-sm"
        [class.bg-foreground/10]="selectedEnglishLevel() === level"
        tabindex="0"
        (keypress)="onLevelSelection(level)"
        (click)="onLevelSelection(level)">
        {{ level }}
      </div>
    }
  </div>
</section>

<section class="text-foreground-subtle my-8 flex w-full items-center justify-center  text-xl">
  @for (char of alphabet; track $index) {
    <div
      class="hover:text-foreground cursor-pointer min-w-8 min-h-8 flex items-center justify-center"
      [class.text-foreground]="selectedChar() === char"
      tabindex="1"
      (click)="onAlphabetSelection(char)"
      (keypress)="onAlphabetSelection(char)">
      {{ char }}
    </div>
  }
</section>

<section class="flex flex-col gap-8 pt-8">
  @for (group of groups; track $index) {
    <div class="flex gap-4">
      @for (word of group; track $index) {
        <div>{{ word }}</div>
      }
    </div>

    @if (!$last) {
      <div class="bg-surface-subtle h-[1px]"></div>
    }
  }
</section>
