<div class="flex min-h-screen w-full flex-wrap content-baseline gap-2 p-4">
  @for (dictionary of dictionaries(); track $index) {
    <div
      class="custom-class flex h-fit min-w-56 cursor-pointer flex-col gap-2 rounded-lg bg-gray-900 p-4 hover:bg-gray-800"
      (click)="openDetails($index)">
      <span class="text-2xl font-semibold">{{ dictionary.name }}</span>
      <span class="text-sm text-gray-400">{{ dictionary.description }}</span>
      <span class="flex gap-2">
        <vm-badge color="blue">
          From: <strong><span [class]="'fi fi-' + dictionary.languages.from"></span></strong>
        </vm-badge>
        <vm-badge color="green">
          To: <strong><span [class]="'fi fi-' + dictionary.languages.to"></span></strong>
        </vm-badge>
      </span>
    </div>
  }
</div>
