<app-fullscreen-layout>
  <div class="flex flex-col items-center gap-4">
    <section class="text-foreground-subtle flex min-w-80 flex-col">
      <span class="text-foreground text-2xl font-semibold"> Link Invalid or Expired </span>
      <span>
        This confirmation link is no longer valid. It may have already been used or has expired. <br />
        If you haven’t confirmed your email yet, please request a new confirmation email.
      </span>
    </section>

    <section class="text-foreground-subtle flex items-center text-sm">
      <a vmButton type="link" routerLink="/auth/sign-in">Sign in</a>
    </section>
  </div>
</app-fullscreen-layout>
