<app-fullscreen-layout>
  <div class="flex flex-col items-center gap-4">
    <section class="flex min-w-80 flex-col text-zinc-500">
      <span class="bg-gradient-to-b from-zinc-50 to-zinc-400 bg-clip-text text-2xl font-semibold text-transparent">
        Link Invalid or Expired
      </span>
      <span>
        This confirmation link is no longer valid. It may have already been used or has expired. <br />
        If you haven’t confirmed your email yet, please request a new confirmation email.
      </span>
    </section>

    <section class="flex items-center text-sm text-zinc-500">
      <a vmButton type="link" routerLink="/auth/sign-in">Sign in</a>
    </section>
  </div>
</app-fullscreen-layout>
