<div class="flex items-start gap-2 p-4">
  <button vmButton variant="primary" (click)="openDefault()">Open Default</button>
  <button vmButton variant="secondary" (click)="openShort()">Open Short</button>
  <button vmButton variant="warn" (click)="openError()">Open Error</button>
  <button vmButton variant="danger" (click)="openSuccess()">Open Success</button>
  <button vmButton variant="ghost" (click)="openWarn()">Open Warn</button>
</div>

<div class="flex items-start gap-2 p-4">
  <button vmButton variant="primary" disabled (click)="openDefault()">Open Default</button>
  <button vmButton variant="secondary" disabled (click)="openShort()">Open Short</button>
  <button vmButton variant="warn" disabled (click)="openError()">Open Error</button>
  <button vmButton variant="danger" disabled (click)="openSuccess()">Open Success</button>
  <button vmButton variant="ghost" disabled (click)="openWarn()">Open Warn</button>
</div>

<div class="flex items-start gap-2 p-4">
  <button vmButton type="icon" variant="primary" (click)="openDefault()">
    <ng-icon size="24" name="lucidePlus" />
  </button>
  <button vmButton type="icon" variant="secondary" (click)="openShort()">
    <ng-icon size="24" name="lucidePlus" />
  </button>
  <button vmButton type="icon" variant="warn" (click)="openError()"><ng-icon name="lucidePlus" /></button>
  <button vmButton type="icon" variant="danger" (click)="openSuccess()"><ng-icon name="lucidePlus" /></button>
  <button vmButton type="icon" variant="ghost" (click)="openWarn()"><ng-icon name="lucidePlus" /></button>
</div>

<div class="flex gap-2">
  <div class="flex flex-col items-start gap-2 p-4">
    <button vmButton size="small" (click)="openDefault()">Small</button>
    <button vmButton size="medium" (click)="openShort()">Medium</button>
    <button vmButton size="large" (click)="openShort()">Large</button>
  </div>
  <div class="flex flex-col items-start gap-2 p-4">
    <button vmButton size="small" type="link" (click)="openDefault()">Open</button>
    <button vmButton size="medium" type="link" (click)="openDefault()">Open</button>
    <button vmButton size="large" type="link" (click)="openDefault()">Open</button>
  </div>
</div>

<div class="flex gap-2 p-4">
  <button vmButton [vmMenuTrigger]="menu" size="large">Menu</button>
  <vm-menu #menu="vmMenu">
    <div vmMenuItem>Item 1</div>
    <div vmMenuItem>Item 2</div>
    <div vmMenuItem>Item 3</div>
    <div vmMenuItem>Item 4</div>
  </vm-menu>
</div>

<div class="flex items-start gap-2 p-4">
  <vm-card>
    <div title>Title</div>
    <div value>Value</div>
    <div action>
      <button vmButton size="small" type="link" (click)="openDefault()">Open</button>
    </div>
  </vm-card>

  <vm-card type="info">
    <div title>Continue where you’ve left off</div>
    <div value>Previous session still has 40 words to go. Would you like to continue?</div>
    <div action>
      <button vmButton size="small" type="link" (click)="openDefault()">Open</button>
    </div>
  </vm-card>
</div>

<div class="flex items-start gap-2 p-4">
  <input type="text" vmInput />
  <input type="text" vmInput placeholder="Placeholder..." />

  <textarea type="text" vmInput placeholder="Placeholder..."></textarea>
</div>
