@if (words.activeWord(); as activeWord) {
  <div class="typography w-full max-w-2xl pt-16">
    <h1>{{ activeWord.word }}</h1>
    @for (meaning of activeWord.meanings; track meaning.id) {
      <div class="my-4 flex flex-col items-start">
        <vm-badge [color]="getPartOfSpeechColor(meaning.partOfSpeech)">{{ meaning.partOfSpeech }}</vm-badge>
        <div class="mt-4 mb-8 ml-4">
          <h3>{{ meaning.definition }}</h3>

          <ul class="flex list-disc gap-4">
            @for (example of meaning.examples; track example.id) {
              <li>
                <p class="text-muted italic">"{{ example.text }}"</p>
              </li>
            }
          </ul>

          @if (meaning.synonyms?.length) {
            <p class="text-label">Synonyms:</p>
            <div class="mb-4 flex gap-2">
              @for (synonym of meaning.synonyms; track synonym.id) {
                <a href="#" vmButton type="link" [routerLink]="'../' + synonym.id">
                  {{ synonym.word }}
                </a>
              }
            </div>
          }

          @if (meaning.translations?.length) {
            <p class="text-label">Translations:</p>
            <div class="mb-4 flex gap-2">
              @for (word of meaning.translations; track word.id) {
                <span class="p-2 whitespace-nowrap">
                  <span>{{ word.translation }}</span>
                  @if (!$last) {
                    <span>,</span>
                  }
                </span>
              }
            </div>
          }
        </div>
      </div>
    }
  </div>
}
