.vm-menu {
  @apply relative my-1 max-h-96 min-w-42 rounded-md border border-zinc-700/50 bg-zinc-950 p-1 text-zinc-50;
}

.vm-menu-content {
  @apply overflow-y-auto;
}

.vm-menu-item {
  @apply flex cursor-pointer items-center gap-3 rounded px-3 py-1 text-sm transition-colors hover:bg-sky-600;
}
