.vm-toast-container {
  @apply inline-flex max-h-full flex-col justify-end overflow-hidden p-2;
}

.vm-toast {
  display: grid;
  grid-template-rows: 1fr;
  @apply m-2 shrink-0 overflow-hidden rounded-lg border border-gray-700 bg-gray-950 text-gray-50;
}

.vm-toast-content {
  @apply relative inline-flex min-w-64 items-center gap-2 p-2;
}

.vm-toast-content-bar {
  @apply h-full w-1 rounded-full;
}

.vm-toast-content-data {
  @apply flex flex-col gap-1 p-2;
}

.vm-toast-content-close {
  @apply absolute top-1 right-1 cursor-pointer p-2;
}

.vm-toast-enter {
  animation: enter 500ms ease-in-out;
}

.vm-toast-leave {
  animation: leave 500ms ease-in-out;
}

.vm-toast-hidden {
  @apply opacity-0;
}

@keyframes enter {
  0% {
    opacity: 0;
    grid-template-rows: 0fr;
    translate: 0 100%;
    margin-block: 0;
  }
  50% {
    grid-template-rows: 1fr;
    margin-block: var(--spacing) * 2;
  }
  75% {
    translate: 0 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes leave {
  0% {
    opacity: 1;
  }
  25% {
    grid-template-rows: 1fr;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    grid-template-rows: 0fr;
    margin-block: 0;
  }
}
