<div class="bg-gradient-primary flex min-h-screen text-gray-50">
  <nav class="flex w-60 flex-col">
    <div class="cursor-pointer px-7 py-4 text-2xl font-bold" routerLink="/main">VocabMastery</div>

    <section class="nav-list">
      @for (option of navOptions; track $index) {
        <a class="nav-list-item" [routerLink]="option.link" [routerLinkActive]="'active'">
          <ng-icon [name]="option.icon" size="20" />
          <span>{{ option.title }}</span>
        </a>
      }
    </section>
  </nav>

  <section class="h-screen flex-1 overflow-auto">
    <router-outlet />
  </section>
</div>
