<div class="typography flex items-center justify-center pt-16">
  @if (flashcard.session()?.isCompleted) {
    <div class="flex flex-col items-center">
      <h1>Completed!</h1>
      <span>Total words: {{ flashcard.session()?.cardsAnswered }}</span>
      <span>Correct words: {{ flashcard.session()?.cardsCorrect }}</span>

      <div class="mt-8">
        <button vmButton (click)="startSession()">Start new session</button>
      </div>
    </div>
  } @else {
    @if (flashcard.session(); as session) {
      <div class="flex w-full max-w-2xl flex-col items-center">
        <vm-badge class="mb-8">
          {{ (session.cardsAnswered || 0) + 1 }} /
          {{ session.cardsTotal }}
        </vm-badge>
        <h1>{{ session.currentCard.word }}</h1>
        <p>{{ session.currentCard.meaning }}</p>
        <p></p>

        <div class="mt-8 grid w-full grid-cols-2 gap-4">
          @for (answer of session.currentCard.choices; track answer.translationId) {
            <div
              class="border-surface-muted hover:bg-surface-subtle w-full cursor-pointer rounded-md border p-4 transition-colors"
              [class.!bg-green-700]="answer.translationId === session.answerResult?.correctAnswer"
              [class.bg-red-700]="answer.translationId === session.answerResult?.selectedAnswer"
              tabindex="1"
              (keypress)="submitSessionAnswer(answer.translationId)"
              (click)="submitSessionAnswer(answer.translationId)">
              {{ answer.translation }}
            </div>
          }
        </div>

        <!-- <div class="mt-10 flex gap-1">
          @for (card of flashcard.sessionHistoryCards(); track card.meaningId) {
            @if (card.meaningId === flashcard.sessionCard()?.meaningId) {
              <div class="bg-foreground-subtle h-2 w-6 rounded-full"></div>
            } @else {
              <div class="bg-surface-muted size-2 rounded-full"></div>
            }
          }
        </div> -->

        @if (session.isAnswered) {
          <div class="mt-4 flex justify-center">
            <button vmButton (click)="nextQuestion()">Next</button>
          </div>
        }
      </div>
    } @else {
      <div class="flex h-80 items-center">
        <button vmButton (click)="startSession()">Start session</button>
      </div>
    }
  }
</div>
