<div
  [vmMenuTrigger]="menu"
  class="flex cursor-pointer items-center gap-2 rounded-lg border border-zinc-800 bg-zinc-800/20 p-2 transition-colors hover:border-gray-700/50 hover:bg-gray-700/20">
  <div class="flex size-10 shrink-0 grow-0 items-center justify-center overflow-hidden rounded-lg">
    @if (profilePictureUrl(); as url) {
      <img class="h-full w-full object-cover" [src]="profilePictureUrl()" alt="" referrerpolicy="no-referrer" />
    } @else {
      <ng-icon name="lucideUser" />
    }
  </div>
  <div class="flex flex-grow flex-col overflow-hidden">
    <p class="overflow-hidden text-ellipsis whitespace-nowrap text-zinc-50">{{ profileName() }}</p>
    <span class="overflow-hidden text-xs text-ellipsis whitespace-nowrap text-zinc-500">{{ profileEmail() }}</span>
  </div>
  <ng-icon class="shrink-0 grow-0 text-zinc-500" name="lucideChevronsUpDown" size="14" />
</div>

<vm-menu className="!min-w-52" #menu>
  <div vmMenuItem (click)="signOut()" (keydown)="signOut()" tabindex="0">
    <ng-icon name="lucideLogOut" size="16" />
    Sign out
  </div>
</vm-menu>
